.nomenclature-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: absolute;
    width: 100%;
}

.select2-search__field {
    width: inherit !important;
}