.nomenclature-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: absolute;
    width: 100%;
}

/*.select2-search__field {*/
    /*width: inherit !important;*/
/*}*/

@media screen and (max-width: 600px) {
    .container-pre-order {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    table.table-nomenclature thead {
        display: none;
    }
    table.table-nomenclature tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e8e9eb;
    }
    table.table-nomenclature td {
        display: block;
        text-align: right;
    }
    table.table-nomenclature td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    #crud-datatable-filters {
        display: none;
    }

    .order-index th[data-col-seq="4"] {
        display: none;
    }

    .order-index td[data-col-seq="4"] {
        display: none;
    }

    .order-index thead {
        display: none;
    }

    .order-index .kv-grid-toolbar {
        width: 90%
    }

    .order-index .kv-grid-toolbar .btn-group {
        width: inherit;
    }

    .order-index .kv-grid-toolbar .btn-group * {
        display: none;
    }

    .order-index .kv-grid-toolbar .btn-group :first-child {
        display: block;
        width: 100%;
    }

    .order-view .order-view-measure{
        display: none;
    }

    .crud-datatable .skip-export {
        font-size: xx-large;
    }

}

.card {
    border: black solid 1px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
}

.required label:after {
    content: " *";
    color: red;
}

.buttons a, .buttons button{
    margin-bottom: 1rem;
}